---
import { Button } from "@/components/ui/button"
import { experiences } from "./ExperienceData"
import type { Experience } from "./ExperienceData"
import DialogExperienceGSAP from "@/components/dialog/DialogExperienceGSAP";
---

<section id="experience" class="py-16 px-6 max-w-3xl mx-auto scroll-mt-16">
  <h2 class="text-4xl sm:text-5xl lg:text-6xl font-heading text-center leading-tight mb-24">
    <span class="border-2 border-main px-2">Experiencia</span> Laboral
  </h2>

  <ol class="border-s-2 border-border">
    {experiences.map((exp: Experience) => (
      <li class="relative mb-16 ms-6">
        <div class="absolute w-4 h-4 bg-main border-2 border-border rounded-full -start-8 top-1.5"></div>

        <time class="text-sm text-muted-foreground font-light font-mono-dm">
          {exp.date}
        </time>
        <h3 class="text-2xl sm:text-3xl mt-3 font-bold">{exp.title}</h3>
        <p class="text-lg font-normal text-muted-foreground mb-4">
          {exp.company}
        </p>
        <p class="text-base md:text-lg font-light text-muted-foreground leading-relaxed mb-6">
          {exp.description}
        </p>

        {
          exp.detailed ? (
            <DialogExperienceGSAP client:idle triggerLabel={exp.button} experienceId={exp.id} />
          ) : (
            <Button variant="neutral" size="lg">{exp.button}</Button>
          )
        }
      </li>
    ))}
  </ol>
</section>
