---
import { projects } from "./ProjectData"
import { Badge } from "@/components/ui/Badge"
import { Button } from "@/components/ui/button"
import * as Icons from "@/components/icons"
---

<section id="proyectos" class="py-16 px-4 sm:px-6 lg:px-8 max-w-6xl mx-auto scroll-mt-16">
  <!-- Título -->
  <h2 class="text-4xl sm:text-5xl lg:text-6xl font-heading text-center leading-tight mb-24">
    <span class="border-2 border-main px-3">Proyectos</span>
  </h2>

  <!-- Tarjetas -->
  <div class="grid gap-12 sm:grid-cols-2">
    {projects.map(project => (
      <article class="relative bg-background border border-border p-8 flex flex-col justify-between">
        
        <div class="space-y-6">
          <h3 class="text-2xl font-bold">{project.title}</h3>

          <div class="flex flex-wrap gap-3">
            {project.stack.map(tech => {
              const Icon = (Icons as { [key: string]: any })[tech.icon]
              return <Badge icon={Icon} label={tech.name} />
            })}
          </div>

          <p class="text-base font-normal text-muted-foreground leading-relaxed pb-4">
            {project.description}
          </p>
        </div>

        
        <div class="flex gap-4 mt-8">
          
            <a href={project.repo} target="_blank" rel="noopener noreferrer">
              <Button variant="neutral" size="lg">Repositorio</Button>
            </a>
            <a href={project.preview} target="_blank" rel="noopener noreferrer">
              <Button variant="neutral" size="lg">Preview</Button>
            </a>
          
        </div>
      </article>
    ))}
  </div>
</section>
